* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  /* font-family: "DM Sans", sans-serif; */
}

:root {
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);

  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);

  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);

  --fs-300: 1em;
  --fs-600: 1.2em;
  --fs-700: 1.7em;
  --fs-900: 2.4em;

  --size-1: 1em;
  --size-2: 2em;
}

@font-face {
  font-family: "DM Sans";
  src: url("../assets/fonts/static/DMSans-Regular.ttf");
  font-weight: 200;
}

body {
  font-size: 18px;
  background: rgb(240, 240, 240);
  font-family: "DM Sans", sans-serif;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

i {
  font-style: italic;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.color-white {
  color: var(--white);
}
.color-purple-500 {
  color: var(--purple-500);
}
.color-yellow-500 {
  color: var(--yellow-500);
}

.bg-white {
  background-color: var(--white);
}
.bg-purple-100 {
  background-color: var(--purple-100);
}
.bg-purple-500 {
  background-color: var(--purple-500);
}
.bg-yellow-100 {
  background-color: var(--yellow-100);
}
.bg-yellow-500 {
  background-color: var(--yellow-500);
}

.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 600;
}

.fs-300 {
  font-size: var(--fs-300);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-900 {
  font-size: var(--fs-900);
}

.p-1 {
  padding: var(--size-1);
}
.p-2 {
  padding: var(--size-2);
}
.p-i-1 {
  padding-inline: var(--size-1);
}
.p-i-2 {
  padding-inline: var(--size-2);
}
.p-b-1 {
  padding-block: var(--size-1);
}
.p-b-2 {
  padding-block: var(--size-2);
}
.p-is-1 {
  padding-inline-start: var(--size-1);
}
.p-ie-1 {
  padding-inline-end: var(--size-1);
}
.p-bs-1 {
  padding-block-start: var(--size-1);
}
.p-be-1 {
  padding-block-end: var(--size-1);
}

.m-i-auto {
  margin-inline: auto;
}

.text-center {
  text-align: center;
}

.grid {
  display: grid;
}
.g-1 {
  gap: var(--size-1);
}
.g-2 {
  gap: var(--size-2);
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}

.main-grid {
  & > article {
    border-radius: 0.6em;
    overflow: hidden;
    align-content: flex-start;
    align-items: center;
    height: 100%;
  }

  .social-media {
    img {
      width: 50%;
    }
  }

  .faster-autdience {
    grid-template-rows: auto auto 1fr;

    h1 {
      font-size: 4em;
      font-weight: 600;
    }

    img {
      width: 70%;
    }
  }
}

@media only screen and (width > 375px) {
  :root {
    --fs-300: 1em;
    --fs-600: 2em;
    --fs-700: 2.4em;
    --fs-900: 3.6em;

    --size-1: 1.5em;
    --size-2: 2em;
  }

  .main-grid {
    grid-template:
      "create-and social-media    social-media   schedule-to" auto
      "create-and social-media    social-media   schedule-to" auto
      "create-and social-media    social-media   schedule-to" auto
      "create-and social-media    social-media   schedule-to" auto
      "create-and manage-multiple maintain-a     schedule-to" auto
      "write-your manage-multiple maintain-a     schedule-to" auto
      "write-your manage-multiple maintain-a     schedule-to" auto
      "write-your faster-audience grow-followers grow-followers" auto
      "write-your faster-audience grow-followers grow-followers" auto
      "write-your faster-audience grow-followers grow-followers" auto;

    img {
      width: 100%;
      display: block;
    }

    .social-media {
      grid-area: social-media;
    }
    .manage-multiple {
      grid-area: manage-multiple;
    }
    .maintain-a {
      grid-area: maintain-a;
    }
    .schedule-to {
      grid-area: schedule-to;

      /* //// */
      padding-inline-end: 0;

      img {
        width: 140%;
      }
    }
    .grow-followers {
      grid-area: grow-followers;
      grid-template-columns: 2fr 3fr;

      img {
        height: 100%;
      }
    }
    .faster-autdience {
      grid-area: faster-audience;
    }
    .create-and {
      grid-area: create-and;

      /* //// */

      img {
        width: 90%;
      }
    }
    .write-your {
      grid-area: write-your;
      grid-template-rows: subgrid;

      img {
        grid-row: 5 span;
      }
    }
  }
}

.attribution {
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
