* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);

  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);

  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
}

@font-face {
  font-family: "DM Sans";
  src: url("../assets/fonts/static/DMSans-Regular.ttf");
  font-weight: 400;
}

body {
  font-size: 18px;
  background: rgb(240, 240, 240);
}

main {
  max-width: 1440px;
  margin: 0 auto;
  padding-block: 4em;
}

img {
  display: block;
  width: 100%;
}

.main-grid {
  display: grid;
  gap: 2em;
  grid-template: repeat(10, auto) / repeat(4, 1fr);
  font-family: "DM Sans", sans-serif;

  & > article {
    border-radius: 0.6em;
    overflow: hidden;

    & > h2 {
      font-size: 4em;
      font-weight: 100;
    }

    & > h3 {
      font-size: 2.6em;
    }

    & > h4 {
      font-size: 2.4em;
    }

    & > p {
      font-size: 1.2em;
      font-weight: 500;
    }
  }

  & > :nth-child(1) {
    padding: 2em;
    grid-row: 1 / 6;
    grid-column: 1 / 2;
    background-color: var(--yellow-100);
    padding-block: 5em;
    display: grid;
    gap: 1em;

    & > * i {
      color: var(--purple-500);
    }
  }

  & > :nth-child(2) {
    grid-column: 2 / 4;
    grid-row: 1 / 5;
    color: var(--white);
    background-color: var(--purple-500);
    padding-block: 4em;

    & > * {
      text-align: center;

      & > span {
        color: var(--yellow-500);
      }
    }

    & > img {
      width: 50%;
      margin-inline: auto;
    }

    & > p {
      font-size: 1.6em;
      margin-top: 0.4em;
    }
  }

  & > :nth-child(3) {
    padding-block: 2em;
    padding-left: 2em;
    grid-column: 4 / 5;
    grid-row: 1 / 7;
    background-color: var(--purple-100);
    display: grid;
    gap: 1em;
    grid-template-rows: auto 1fr auto;

    & > img {
      height: 100%;
      object-fit: cover;
      object-position: left;
    }
  }

  & > :nth-child(4) {
    padding: 2em;
    grid-row: 6 / 10;
    grid-column: 1 / 2;
    background-color: var(--yellow-500);
    display: grid;
    grid-template-rows: subgrid;

    & > :first-child {
      grid-row: 1 / 2;
    }
    & > :last-child {
      grid-row: 2 / 4;
    }
  }

  & > :nth-child(5) {
    padding-block: 2em;
    padding-left: 2em;
    grid-row: 5 / 7;
    grid-column: 2 / 3;
    background-color: var(--white);

    & > img {
      width: 130%;
    }
  }

  & > :nth-child(6) {
    padding-block-start: 2em;
    padding-inline: 2em;
    grid-column: 3 / 4;
    grid-row: 5 / 7;
    background-color: var(--yellow-500);

    display: grid;
    gap: 1em;
    grid-template-rows: auto minmax(auto, 100px);

    & > img {
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  & > :nth-child(7) {
    padding: 2em;
    grid-column: 2 / 3;
    grid-row: 7 / 10;
    display: grid;
    gap: 1em;
    background-color: var(--white);

    & > h2 {
      font-weight: 500;
    }
  }

  & > :nth-child(8) {
    padding: 2em;
    grid-column: 3 / 5;
    grid-row: 7 / 10;
    color: var(--white);
    background-color: var(--purple-500);
    display: grid;
    gap: 1em;
    align-items: center;
    grid-template-columns: 2fr 3fr;
  }
}

.attribution {
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
