* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  /* font-family: "DM Sans", sans-serif; */
}

:root {
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);

  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);

  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);

  --fs-300: 1em;
  --fs-600: 1.2em;
  --fs-700: 1.7em;
  --fs-900: 2.4em;

  --size-1: 1em;
  --size-2: 2em;
}

@font-face {
  font-family: "DM Sans";
  src: url("../assets/fonts/static/DMSans-Regular.ttf");
  font-weight: 200;
}

body {
  font-size: 18px;
  background: rgb(240, 240, 240);
  font-family: "DM Sans", sans-serif;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

i {
  font-style: italic;
}

.color-white {
  color: var(--white);
}
.color-purpole-500 {
  color: var(--purple-500);
}
.color-yellow-500 {
  color: var(--yellow-500);
}

.bg-white {
  background-color: var(--white);
}
.bg-purpole-100 {
  background-color: var(--purple-100);
}
.bg-purpole-500 {
  background-color: var(--purple-500);
}
.bg-yellow-100 {
  background-color: var(--yellow-100);
}
.bg-yellow-500 {
  background-color: var(--yellow-500);
}

.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 600;
}

.fs-300 {
  font-size: var(--fs-300);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-900 {
  font-size: var(--fs-900);
}

.p-1 {
  padding: var(--size-1);
}
.p-2 {
  padding: var(--size-2);
}
.p-i-1 {
  padding-inline: var(--size-1);
}
.p-i-2 {
  padding-inline: var(--size-2);
}
.p-b-1 {
  padding-block: var(--size-1);
}
.p-b-2 {
  padding-block: var(--size-2);
}
.p-is-1 {
  padding-inline-start: var(--size-1);
}
.p-ie-1 {
  padding-inline-end: var(--size-1);
}
.p-bs-1 {
  padding-block-start: var(--size-1);
}
.p-be-1 {
  padding-block-end: var(--size-1);
}

.m-i-auto {
  margin-inline: auto;
}

.text-center {
  text-align: center;
}

.grid {
  display: grid;
}
.g-1 {
  gap: var(--size-1);
}
.g-2 {
  gap: var(--size-2);
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}

@media only screen and (width > 375px) {
  :root {
    --fs-300: 0.6em;
    --fs-600: 0.8em;
    --fs-700: 1em;
    --fs-900: 1.2em;

    --size-1: 0.6em;
  }

  body {
    background-color: red;
  }

  .main-grid {
    grid-template-columns: 1fr;
  }
}

.main-grid {
  & > article {
    border-radius: 0.6em;
    overflow: hidden;
  }

  /* & > :nth-child(1) {
    grid-row: 1 / 6;
    grid-column: 1 / 2;
  }

  & > :nth-child(2) {
    grid-column: 2 / 4;
    grid-row: 1 / 5;

    & > * {
      text-align: center;
      line-height: 1;
    }

    & > img {
      width: 30%;
    }

    & > p {
      margin-top: 0.4em;
    }
  }

  & > :nth-child(3) {
    grid-column: 4 / 5;
    grid-row: 1 / 7;
    grid-template-rows: auto 1fr auto;

    & > img {
      height: 100%;
      object-fit: cover;
      object-position: left;
    }
  }

  & > :nth-child(4) {
    grid-row: 6 / 10;
    grid-column: 1 / 2;
    grid-template-rows: subgrid;

    & > :first-child {
      grid-row: 1 / 2;
    }
    & > :last-child {
      grid-row: 2 / 4;
    }
  }

  & > :nth-child(5) {
    grid-row: 5 / 7;
    grid-column: 2 / 3;

    & > img {
      width: 130%;
    }
  }

  & > :nth-child(6) {
    grid-column: 3 / 4;
    grid-row: 5 / 7;
    grid-template-rows: auto minmax(auto, 100px);

    & > img {
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  & > :nth-child(7) {
    grid-column: 2 / 3;
    grid-row: 7 / 10;

    & > h2 {
      font-weight: 500;
    }
  }

  & > :nth-child(8) {
    grid-column: 3 / 5;
    grid-row: 7 / 10;
    grid-template-columns: 2fr 3fr;
  } */
}

.attribution {
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
