* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
  --brown-800: hsl(14, 45%, 36%);
  --stone-900: hsl(24, 5%, 18%);

  --fs-400: medium;
  --fs-600: x-large;
  --fs-700: xx-large;

  --size-1: 1em;
  --size-2: 2em;
}

@font-face {
  font-family: "Outfit";
  src: url("../assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}

@font-face {
  font-family: "YoungSerif";
  src: url("../assets/fonts/young-serif/YoungSerif-Regular.ttf");
}

.ff-outfit {
  font-family: "Outfit";
}
.ff-young-serif {
  font-family: "YoungSerif";
}

.clr-rose-800 {
  color: var(--rose-800);
}
.clr-brown-800 {
  color: var(--brown-800);
}
.clr-stone-900 {
  color: var(--stone-900);
}

.bg-rose-800 {
  background-color: var(--rose-800);
}
.bg-rose-50 {
  background-color: var(--rose-50);
}
.bg-white {
  background: var(--white);
}

.fw-400 {
  font-weight: 400;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}

.fs-400 {
  font-size: var(--fs-400);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-700 {
  font-size: var(--fs-700);
}

@media screen and (max-width: 375px) {
  :root {
    /* --fs-400: small; */
    --fs-600: large;
    --fs-700: x-large;

    --size-1: 0.6em;
    --size-2: 1.2em;
  }
}

.width-100 {
  width: 100%;
}

.p-1 {
  padding: var(--size-1);
}
.p-i-1 {
  padding-inline: var(--size-1);
}
.p-i-2 {
  padding-inline: var(--size-2);
}
.p-b-1 {
  padding-block: var(--size-1);
}
.p-2 {
  padding: var(--size-2);
}
.p-5 {
  padding: 5rem;
}

.m-1 {
  margin: var(--size-1);
}
.m-b-1 {
  margin-block: var(--size-1);
}
.m-i-1 {
  margin-inline: var(--size-1);
}
.m-i-2 {
  margin-inline: var(--size-2);
}

.br-1 {
  border-radius: var(--size-1);
}

.grid {
  display: grid;
  gap: 0.4rem;
}
.g-1 {
  gap: var(--size-1);
}
.g-2 {
  gap: var(--size-2);
}
.g-3 {
  gap: 3rem;
}
.g-4 {
  gap: 4rem;
}

.grid-1fr-1fr {
  grid-template-columns: 1fr 1fr;
}

.li-color {
  list-style-image: var(--rose-800);
}

.list-section {
  li {
    margin: 0rem 0rem 0rem 1rem;
    padding: 0rem 0rem 0rem 1rem;
  }
}

.container {
  max-width: 750px;
  margin: 0 auto;
}

.header img {
  border-radius: 1rem;
}

main {
  padding: 2rem;
}

@media screen and (max-width: 375px) {
  body {
    padding: 0rem;
  }

  .header img {
    border-radius: 0rem;
  }
  .header h1,
  .header p {
    padding-inline: 1rem;
  }

  main {
    padding: 0rem;
  }

  .sections {
    padding-inline: 1rem;
  }

  .container {
    max-width: 100%;
    margin: 0 auto;
  }
}
